@import url('https://fonts.googleapis.com/css?family=Cookie|Pacifico');
@font-face {
  font-family: "PacificoLocal";
  src: url("../fonts/Pacifico.ttf");
}
@font-face {
  font-family: "CookieLocal";
  src: url("../fonts/Cookie-Regular.ttf");
}


html {
    box-sizing: border-box;
}
*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,
html {
    height: 100%;
    width: 100%;
}
body {
    div#container {
        height: 100%;
        div#welcomeContainer {
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(2, 68, 103, 0.85), rgba(2, 68, 103, 0.85)),
            //url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/VXFA58HGJ1.jpg");
            url("../images/bg.jpg");
            background-position: 30% 45%;
            background-size: cover;
            background-repeat: no-repeat;
            div#nav-bar {
                display: inline-block;
                width: 100%;
                padding: 10px 0px;
                background-color: #002236;
                div#nav-items {}
                div#logo {
                    div#logo-text {
                        margin: auto;
                        font-family: 'Pacifico', 'PacificoLocal', cursive;
                        // color: #00bdff;
                        color: #ffffff;
                        text-align: center;
                        font-size: 30px;
                        @media (max-width: 600px)
                        {
                          font-size: 20px;
                        }
                    }
                }
            }
            div#intro{
              position: relative;
              height: calc(100% - 70px);
              div#name{
                width: 100%;
                // color: #fff
                color: #00bdff;
                font-family: 'Cookie', 'CookieLocal', cursive;
                font-size: 50px;
                text-align: center;
                position: absolute;
                top: 40%;
              }
            }
        }
    }
}
